@import 'styles/_variables';

.load-more-button {
  display: block;
  min-width: 160px;
  padding: 8px 30px 10px;
  margin: 0 auto;
  border: 2px solid $main-color;
  background: none;
  font-size: 14px;
  font-weight: 700;
  color: $main-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: $main-color;
    color: #fff;
  }
}
