.blog-posts-container {
  padding-bottom: 50px;
  .container-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
}

@media (max-width: 1170px) {
  .blog-posts-container {
    .container-articles {
      padding: 20px 30px;
    }
  }
}
