@import 'styles/_variables';

.blog-post-miniature {
  flex-basis: 300px;
  margin-bottom: 30px;
  .post-image {
    width: 100%;
    height: 200px;
    background: #f3f1ec;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .post-tag {
    margin-top: 8px;
    a {
      color: $main-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      transition: color 0.2s;
      &:hover {
        color: $main-color_hover;
      }
    }
  }
  .post-date {
    margin-top: 12px;
    font-size: 12px;
    color: #cecece;
  }
  .post-title {
    margin-top: 2px;
    a {
      font-size: 18px;
      font-weight: 700;
      color: #000;
      transition: color 0.2s;
      &:hover {
        color: $main-color;
      }
    }
  }
}

@media (max-width: 1170px) {
  .blog-post-miniature {
    flex-basis: 45%;
    margin-bottom: 30px;
    .post-image {
      background: #f3f1ec;
    }
  }
}
@media (max-width: 560px) {
  .blog-post-miniature {
    flex-basis: 100%;
    margin-bottom: 36px;
  }
}
