.public-layout__header {
  .header-mobile-sidebar {
    display: none;
    position: absolute;
    left: 0;
    top: 61px;
    z-index: 3;
    bottom: 0;
    width: 215px;
    box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.1);
    background: #f3f1ec;
    overflow-y: auto;
    .mobile-sidebar__nav {
      padding: 0px 0 15px 0;
      border-bottom: 1px solid #cecece;
    }
    .mobile-sidebar__pinned {
      padding: 15px 0;
    }
    .header-list,
    .header-sub-list {
      li {
        a {
          width: 100%;
          padding: 10px 45px;
          font-size: 12px;
        }
      }
    }
    &--enter {
      transform: translate(-310px);
    }
    &--enter-active {
      transform: translate(0px);
      transition: all 400ms ease;
    }
    &--exit {
      transform: translate(0px);
    }
    &--exit-active {
      transform: translate(-310px);
      transition: all 400ms cubic-bezier(1, 0.5, 0.8, 1);
    }
  }
}
