@import 'styles/_variables';

.plane-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 25px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  cursor: pointer;
  a {
    cursor: inherit;
  }
  .plane {
    position: relative;
    width: 36px;
    transition: fill 0.3s ease;
  }
  &:hover {
    opacity: 1;
    .plane {
      fill: $main-color;
    }
  }
  &--hidden {
    opacity: 0;
    cursor: default;
    &:hover {
      opacity: 0;
    }
  }
}
