@import 'styles/_variables';

.blog-post__footer {
  margin-top: 55px;
  .footer-tags {
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    color: #888;
    font-size: 12px;
    letter-spacing: 1.2px;
    .tags-title {
      margin-right: 5px;
    }
    a.tags-item {
      color: #000;
      transition: color 0.2s;
      &:hover {
        color: $main-color_hover;
      }
    }
  }
}
