@import 'styles/_variables';

.blog-post__header {
  .header-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .meta-tag {
      a {
        margin-right: 10px;
        color: $main-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        transition: color 0.2s;
        &:hover {
          color: $main-color_hover;
        }
      }
    }
    .meta-date {
      font-size: 12px;
      color: #888;
    }
  }
  .header-title {
    margin: 44px 0 20px;
    font-size: 34px;
    line-height: 1.4;
    font-weight: 800;
  }
}
