.blog-post {
  padding: 20px 0;
  &__delimiter {
    border: none;
    background: #ebebeb;
    height: 1px;
    margin: 25px 0;
  }
  &__content {
    font-family: Georgia;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
  }
}
