@import 'styles/_variables';

.admin-layout__header {
  .header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 59px;
    background-color: #ffffff;

    .header-container {
      display: flex;
    }

    .header-burger-container {
      display: none;
      .header-burger {
        a {
          display: inline-block;
          padding: 20px;
          color: #292929;
          &:hover {
            color: $main-color;
          }
        }
        &__icon {
          font-size: 18px;
          transition: all 0.3s ease-in-out;
          &--active {
            transform: rotate(-90deg);
            color: $main-color;
          }
        }
      }
    }

    .header-logo-container {
      position: relative;
      margin: 0 auto;
      flex-basis: 345px;
      align-items: center;
      .header-logo {
        &__icon {
          width: 28px;
        }
        &__text {
          display: inline-block;
          font-size: 26px;
          line-height: 39px;
          color: #292929;
          font-weight: 600;
          padding: 10px;
        }
        &__sub {
          position: absolute;
          left: 100px;
          top: 48px;
          bottom: -4px;
        }
      }
    }
  }

  .header-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 20px;
        color: #292929;
        &:hover {
          color: $main-color;
        }
      }
    }
    &--vertical {
      li {
        display: block;
      }
    }
  }

  .header-mobile-sidebar-overlay {
    display: none;
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.45s;
    z-index: 2;
    &.sidebar-overlay--enter {
      opacity: 0;
    }
    &.sidebar-overlay--enter-active {
      opacity: 1;
    }
    &.sidebar-overlay--exit {
      opacity: 1;
    }
    &.sidebar-overlay--exit-active {
      opacity: 0;
    }
  }
}

@media (max-width: 900px) {
  .admin-layout__header {
    .header-main {
      .header-nav-container {
        display: none;
      }
      .header-burger-container {
        display: block;
      }
      .header-logo-container {
        flex-basis: 290px;
        margin-left: 0;
        padding-left: 0;
        .header-logo--text {
          font-size: 21px;
        }
      }
    }
    .header-mobile-sidebar {
      display: block;
    }
    .header-mobile-sidebar-overlay {
      display: block;
    }
  }
}
