@import 'styles/_variables';

.admin-layout__header {
  .header-main {
    .header-list {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        a {
          display: inline-block;
          padding: 20px;
          color: #292929;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}
