@import 'styles/_variables';

.admin-layout__header {
  .header-sub {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 40px;
    background-color: #f3f1ec;
  }
  .header-sub-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 20px;
        color: #000;
        &:hover {
          color: $main-color;
        }
      }
    }
    &--vertical {
      li {
        display: block;
      }
    }
  }
}
@media (max-width: 900px) {
  .admin-layout__header {
    .header-sub {
      .header-sub__pinned-links {
        display: none;
      }
    }
  }
}
