* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

@media (max-width: 335px) {
  body {
    overflow-x: auto;
  }
}

@keyframes loaded-element-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.is-loaded {
  animation: loaded-element-fadein 0.5s ease;
}
